@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>
        <h1 class="display-4">Olá, bem vindo!</h1>
    </header>
    <br />
    <section>
        <article>
            <h2>Nome do candidato: Gabriel Nunes de Melo</h2>
            <h2>Cargo pretendido: Desenvolvedor .Net Pleno (Remoto)</h2>
            <h2>Pretenção salarial: R$ 5500,00</h2>
            <h2>Data do teste: 04/10/2023</h2>
        </article>
    </section>
</div>