@model FolhaPonto

@if (Model != null && !string.IsNullOrEmpty(Model.Mensagem))
{

    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Relatório concluído!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Model.Mensagem
                    <p>Tempo decorrido: <strong>@Model.Milissegundos</strong> milissegundos</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id = "closeButton" class="btn btn-primary" data-dismiss="modal">Ok</button>                    
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#modalCenter').modal('show');

            $('#closeButton').click(function () {
                $('#modalCenter').modal('hide');
            });

            $('.modal-header .close').click(function () {
                $('#modalCenter').modal('hide');
            });
        });
       
    </script>
}